p{
    text-align: justify;
    line-height: 2;
}
.navbar-default{
    background: black !important;
}

.navbar{
    margin-bottom: 0 !important;
}
.navbar-brand, .navbar-default .navbar-nav > li > a, a{
    color: #FF1493 !important;
}
#footer{
    margin-top: 20px;
    padding: 10px 0 ;
    text-align: center;
    background: black;
    color:#FFC0CB;
}
.post{
    padding: 10px;
}
.post>h4{
    font-weight: bold;
}
.post>p{
    text-align: justify;
}
.nav-pills{
    text-align: center !important;
}
.nav-pills > li{
    float: none !important;
    display: inline-block !important;
}
#navegacao-footer{

}